#select1, #select2{
	display:block;
	width:100px;
	height:100px;
}

#dragDrop1{
	float:left;
	margin-right:20px;
}

img{
	border:none;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: underline; color: #FF0000;}

div#lateralDireita{
	width:170px;
	height:500px;
	background-color:red;
	float:left;
}

span.spv{
    cursor: pointer;
	display: block;
    background-image: url(imagens/vazia.png);
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    float:left;
}

.caracteristica{float:left;}

div.part1 {
    float: left;
    width: 49%; // 1% de folga entre as colunas
    padding-right: 1em;
}
div.part2 {
    margin-left: 50%;
    padding-left: 1em; // distância à esquerda
}


